<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Document Uploader</title>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <!--  Icons for Mobile Devices, Favicon -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="mobile-web-app-capable" content="yes" />

        <link href="../default.css" media="screen" rel="stylesheet" type="text/css">
        <link href="../upload.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div class="container">
            <%= yield %>
        </div>
  </body>
</html>
