<p>Your file has been uploaded successfully. Now it will be OCRed and added to the archive.</p>

<p>If you would like to add more files to the <%= @project %> project, then click <a href="/upload/<%= @project%>/<%= @doc_type %>">here</a>. Or you can <a href="<%= ENV['lookingglass_url']%>">view your uploaded documents in LookingGlass</a></p>
