<div class="row">
    <div class="col-md-offset-3 col-md-6 item">
        <h1>
            <i class="icon-logo"></i>
            Upload Files
        </h1>
        <p>Upload one or more files to the archive for the <strong><%=@project%></strong> project.</p>
    </div>
</div>

<form id="files-upload" enctype="multipart/form-data">
    <div id="files"></div>
    <input type="hidden" name="project" value="<%= @project %>">
    <div id="status-done" class="row hide">
        <div id="uploads-completed" class="col-md-offset-3 col-md-6 non-item">
            <h3>Success</h3>
            <p>All of your documents have finished uploading. You can now do one of the following:</p>
            <a class="btn btn-info" href="/upload/<%= @project %>">
                <i class="icon-download"></i>
                Upload More Files
            </a>
            <a class="btn btn-primary pull-right" href="<%= ENV['lookingglass_url']%>">
                <i class="icon-search"></i>
                View Uploaded Documents
            </a>

        </div>
    </div>
    <div id="buttons-main" class="row">
        <div class="col-md-offset-3 col-md-6 non-item">
            <label for="pickfiles" class="btn btn-primary btn-lg btn-file">
                <i class="icon-plus"></i>
                Select Files
                <input type="file" id="button-pickfiles" name="pickfiles" class="btn btn-secondary" multiple>
            </label>
            <button type="submit" class="btn btn-success btn-lg pull-right" id="button-upload" disabled>
                <i class="icon-download"></i>
                Upload Documents
            </button>
        </div>
    </div>
</form>

<script id="template-file" type="text/html">
    <div class="row">
        <div class="col-md-offset-3 col-md-6 item">
            <div class="row file">
                <div class="col-md-2 number">
                    <i class="icon-document"></i>
                    <span>#{{ID}}</span>
                </div>
                <div class="col-md-10 details">
                    <h4>
                        {{FILENAME}}
                    </h4>
                    <span>
                       File size: {{FILESIZE}} bytes
                    </span>
                </div>
            </div>
            <div class="form-group">
                <input type="text" id="doc_title{{ID}}" name="title{{ID}}" class="form-control" placeholder="Document Title">
            </div>
            <div class="form-group">
                <textarea id="doc_description{{ID}}" name="description{{ID}}" class="form-control" placeholder="Document Descrption"></textarea>
            </div>
            <div class="progress-bar progress-bar-striped active" id="progressbar-{{ID}}" role="progressbar" aria-valuemin="0" aria-valuemax="100">
            </div>
            <div class="col-md-6">
                <button type="button" class="btn btn-danger hide" id="cancel-{{ID}}">
                    Cancel
                </button>
            </div>
            <div class="col-md-6">
                <p class="progress-status" id="status-{{ID}}"></p>
            </div>
            <p class="progress-notify" id="notify-{{ID}}"></p>
        </div>
    </div>
</script>

<script src="/jquery.min.js"></script>
<script src="/bootstrap.min.js"></script>
<script src="/upload.js"></script>
